@import url('httpsr://robotoonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'roboto', sans-serif;
} 

nav{
    height: 80px;
    display: flex;
}

img{
    width: 100%;
    height: 100%;
    max-height: 50vb;
    padding: 20px;
}

p{
    line-height: 1.5;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.purple{
color: #7342d6;

}

.logo{
    width: 160px;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

.nav__link{
    margin: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}
.nav__link--primary{
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav__link--primary:hover{
    text-decoration: none;
}

#landing{
    background-color: rgba(red, green, blue, alpha);
}

header {
    height: calc(100vh-80px);
    margin-top: 30px;
    background-color: #7342d6ea;
}

.header__container{
    padding: 24px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description{
display: flex;
flex-direction: column;
align-items: center;
}

h1 {
    font-size: 56px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2{
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button{
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}
.btn{
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.header__image--wrapper{
padding: 20px;
z-index: 2;
}

.container{
padding: 56px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 

HIGHLIGHTS 

*/

#highlights:before {
    /* background: url('assests/wave.svg');
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    transform: translateY(-100%);
    width: 101vw;
    height: 12vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1; */
}

#highlights:after{
    background: url('assets/wave.svg');
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    transform: translateY(100%) rotate(180deg);
    width: 101vw;
    height: 12vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1; */
}

.highlight__wrapper{
display: flex;
}

.highlight{
padding: 0 24px;
width: calc(100%/3);
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.highlight__para{
text-align: center;
max-width: 280px;
}

.highlight__img { 
border: 2px solid #7342d684;
color: #7342d6;
width: 100px;
height: 100px;
display: flex;
align-items: center;
justify-content:center;
border-radius: 4px;
font-size: 32px;
margin-bottom: 24px;
}

.highlight__subtitle{
    font-size: 20px;
    margin-bottom: 16px;
}

/*

FEATURES

*/
#features {
    background-color: rgba(red, green, blue, alpha);
}